@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    margin: 40px;
    background: #fafafa;
    color: #333;
}

#header {
    text-align: center;
    margin-bottom: 60px;
}

.work {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.work img {
    width: 100%;
    margin-bottom: 8px;
}
